@font-face {
  font-family: Bangers;
  src: url("./assets/Bangers/Bangers-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Balthazar;
  src: url("./assets/Balthazar/Balthazar-Regular.ttf") format("truetype");
}
* {
  font-family: Balthazar;
}
body {
  width: 100%;
  height: 844px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e9e9e9;
}

/*  Home.TSX  */
.mainHeader {
  margin: 0;
  height: 120px;
  background: -webkit-linear-gradient(left, #ffd700, #dd64b4);
  display: flex;
  justify-content: center;
}
.appImg {
  height: 64px;
  width: 64px;
  background-color: #fff;
  padding: 12px;
  border: solid black 4px;
  border-radius: 12px;
  position: absolute;
  top: 60px;
  box-shadow: 5px 2.5px 2.5px rgb(76, 76, 76);
}
.homeMain {
  padding-top: 60px;
  height: 664px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.homeMain section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.welcome {
  font-size: 36px;
}
.pennywise {
  font-size: 60px;
  font-family: Bangers;
}
.spending img,
.piggy img,
.budget img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 40px;
  margin-top: 5px;
}
.spending span,
.piggy span,
.budget span {
  font-size: 20px;
  font-family: Bangers;
  margin-top: 30px;
  margin-left: 40px;
  text-align: center;
}
.spending p,
.piggy p,
.budget p {
  width: 200px;
  margin-top: 0;
  margin-left: 30px;
  text-align: center;
}
.spending {
  margin-top: 7vh;
}
.signupBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: -webkit-linear-gradient(left, #ffd700, #dd64b4);
  width: 320px;
  height: 59px;
  border-radius: 20px;
  font-family: Bangers;
  margin-top: auto;
  color: black;
  font-size: 32px;
  margin-top: 8vh;
  box-shadow: 5px 2.5px 2.5px rgb(76, 76, 76);
}
.loginBtn {
  font-size: 22px;
  text-align: center;
  color: black;
  margin-top: 2vh;
}

/*  Signup.tsx  */
.headerSignup {
  margin: 0;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /*  Border css from https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0  */
  border-bottom: solid 4px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to left, #dd64b4, #ffd700);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.headerSignup h1 {
  font-family: Bangers;
  font-size: 70px;
  background: -webkit-linear-gradient(left, #ffd700, #dd64b4);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.signUp {
  margin: auto;
  justify-content: center;
  width: 310px;
  height: 511px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  /*  Border css from https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0  */
  border: solid 4px transparent;
  border-radius: 12px;
  background-image: linear-gradient(white, white),
    linear-gradient(to left, #dd64b4, #ffd700);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.signUp span,
.login span {
  font-size: 36px;
  align-items: flex-start;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.signUp input,
.login input {
  width: 225px;
  height: 50px;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  margin-top: 2vh;
}
.createAccBtn {
  margin-top: 7vh;
  width: 270px;
  height: 50px;
  font-family: Bangers;
  font-size: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  /*  Border css from https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0  */
  border: solid 2px transparent;
  border-radius: 12px;
  background-image: linear-gradient(to right, #ffd700, #dd64b4),
    linear-gradient(to left, #dd64b4, #ffd700);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}
.signUp .createAccBtn,
.login .createAccBtn {
  font-size: 32px;
}
.signUp a,
.login a {
  font-size: 22px;
  margin-top: 2vh;
  color: rgba(0, 0, 0);
}

/*  Login.tsx */
.login {
  margin: auto;
  justify-content: center;
  width: 310px;
  height: 450px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  /*  Border css from https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0  */
  border: solid 4px transparent;
  border-radius: 12px;
  background-image: linear-gradient(white, white),
    linear-gradient(to left, #dd64b4, #ffd700);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/*  Footer  */
footer {
  bottom: 0;
  position: sticky;
  height: 60px;
  /*  Border css from https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0  */
  border-top: solid 4px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to left, #dd64b4, #ffd700);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: black;
}

/*  budget.tsx   */
.headerBudget {
  margin-top: 0;
  height: 150px;
  background: -webkit-linear-gradient(left, #ffd700, #dd64b4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.budgetDiv {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.budgetDiv select {
  height: 25px;
  font-size: 16px;
  background-color: transparent;
  border: none;
}
.headerBudget span {
  font-size: 32px;
}
.budgetNav {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.budgetNav a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  padding: 8px;
  border-radius: 20px;
}

/*  BudgetSite.tsx */
.budgetBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
  height: 85%;
}
.budgetOutcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 410px;
  width: 350px;
  /*  Border css from https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0  */
  border: solid 4px transparent;
  border-radius: 12px;
  background-image: linear-gradient(white, white),
    linear-gradient(to left, #dd64b4, #ffd700);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-size: 20px;
}
.budgetIncome{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
    /*  Border css from https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0  */
    border: solid 4px transparent;
    border-radius: 12px;
    background-image: linear-gradient(white, white),
      linear-gradient(to left, #dd64b4, #ffd700);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 20px;
}
.chartBox {
  width: 300px;
  height: 16vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.categorieBudget {
  width: 165px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.categorieTotal {
  float: right;
  width: 165px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.categorieBox {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
}
.monthBox {
  margin: 1vh;
  height: 40px;
  width: 263px;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  font-size: 18px;
}
.bi {
  cursor: pointer;
}

/*  Add Item Box  */
.addItemBtn {
  width: 200px;
  margin-bottom: 1vh;
  font-size: 25px;
  padding: 10px;
  border: none;
  background: -webkit-linear-gradient(left, #ffd700, #dd64b4);
  border-radius: 12px;
  box-shadow: 1px 2px 2px rgb(76, 76, 76);
}
.addItemBtn:active {
  box-shadow: none;
}
.additemBox {
  margin-bottom: 4vh;
  width: 350px;
  height: 250px;
  transform: translateY(4%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  top: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  /*  Border css from https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0  */
  border: solid 4px transparent;
  border-radius: 12px;
  background-image: linear-gradient(white, white),
    linear-gradient(to left, #dd64b4, #ffd700);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.additemBox span{
  font-size: 30px;
  text-align: center;
  margin: 2vh;
}
.additemBox button{
  font-size: 25px;
  background: -webkit-linear-gradient(left, #ffd700, #dd64b4);
  border: none;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 1px 2px 2px rgb(76, 76, 76);
}
